
<nav>

    <mat-button-toggle-group #group="matButtonToggleGroup" appearance="standard" class='toggle' [(ngModel)]="searchOptions.videosAllowed" (change)='updateOptions()'>
        <mat-button-toggle value="all" aria-label="Text align left" checked='true'>
            All
        </mat-button-toggle>
        <mat-button-toggle value="fav" aria-label="Text align center">
            Favourite
        </mat-button-toggle>   
        <mat-button-toggle value="yt" aria-label="Text align left">
            Youtube
        </mat-button-toggle>
        <mat-button-toggle value="vimeo" aria-label="Text align center">
            Vimeo
        </mat-button-toggle>
    </mat-button-toggle-group>
    
    <mat-button-toggle-group #group="matButtonToggleGroup" appearance="standard" class='toggle' [(ngModel)]="searchOptions.sort" (change)='updateOptions()'>
        <mat-button-toggle value="descending" aria-label="Text align left" checked='true'>
            <mat-icon>keyboard_arrow_down</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="ascending" aria-label="Text align center">
            <mat-icon>keyboard_arrow_up</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-button-toggle-group #group="matButtonToggleGroup" appearance="standard" class='toggle' [(ngModel)]="searchOptions.displayType" (change)='updateOptions()'>
        <mat-button-toggle value="list" aria-label="Text align left" >
            <mat-icon>format_list_bulleted</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="blocks" aria-label="Text align center" checked='true'>
            <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>

</nav>