<div class="container">

    <mat-button-toggle-group  #group="matButtonToggleGroup" appearance="legacy" class='toggle' (change)="changeVideoType($event)">
        <mat-button-toggle color='primary' value="yt" aria-label="Text align left" checked='true' class='yt'>
            Youtube
        </mat-button-toggle>
        <mat-button-toggle value="vimeo" aria-label="Text align center" class='vimeo'>
            Vimeo
        </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field class="example-form-field">
        <mat-label>Video ID or link</mat-label>
        <input matInput type="text" [(ngModel)]="searchInput" (keyup.enter)='addVideo()' placeholder="Press enter to add">
        <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchInput()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field> 
    
    <div *ngIf='error.length > 0'>
        {{ error }}
    </div>

</div>
