<div class="container">
    
    <app-videos-page 
    [videos]='videos'
    [displayType]='displayType'
    (delete)='deleteVideo($event)'
    (favour)='favourVideo($event)'
    (unfavour)='unfavourVideo($event)'
    (playVid)='playVideo($event)'></app-videos-page>
    
    <mat-paginator [length]="searchedVideosLength"
              [pageSize]="itemsPerPage"
              [pageSizeOptions]="[6, 12, 18, 24]"
              (page)='changePage($event)'>
    </mat-paginator>        
    
</div>


<app-video-play
*ngIf='openPlayer'
(closeVid)='closeVideo($event)'
[videoUrl]='videoPlayingUrl'>

</app-video-play>
