.container{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    align-items: flex-start;
    
    padding: 2rem calc(10% - 4rem);

    mat-paginator{
        width: 100%;
        margin: 3rem 0;
        background-color: transparent;
    }

    app-videos-page{
        width: 100%;
    }
}


.player{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.274);


    .video{
        position: relative;
        width: 100%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;

        iframe{
            position: relative;
            width: calc(80% + 5rem );
            height: 100%;
        }

        .close{
            position: absolute;
            top: -2.5%;
            right: calc(10% - 2.5rem);

            color: white;
            z-index: 1000;

            mat-icon{
                width: 3rem;
                height: 3rem;
                font-size: 2rem;
            }
        }

    }
}