
<mat-drawer-container class="container" autosize>

    <mat-drawer #drawer class="options" mode="push" position="end">
        <app-options></app-options>
    </mat-drawer>
    <div class="content">

        <button 
        type="button" 
        class="toggle-options" 
        mat-fab
        (click)="drawer.toggle()"
 
        color="accent" 
        aria-label="Example icon button with a menu icon">
            <mat-icon>menu</mat-icon>
        </button>


        <app-add></app-add>
        <app-nav></app-nav>
        <app-display></app-display>
        
    </div>


  
</mat-drawer-container>
